@import "tailwindcss";

@keyframes gradient {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

@layer utilities {
  .animate-gradient {
    background-size: 200% auto;
    animation: gradient 3s ease infinite;
  }
}